 /* Start of Desktop Platform */
 body{
   font-size:62.5%;
   background-color:#C0C0BA;
   font-family: Arial, Helvetica, sans-serif; 
   }
   
  /* Start of Anne's Code */
  a, a:link, a:visited, a:hover {
    text-decoration: none;
  }
 

  .menu-container {
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px;
    width: 58%;
  }
 
  
  .menu-container a { 
    border-radius: 5px;
    display: inline-block;
    padding: 5px 10px;
  }
 
  
  .menu-container .menu-button {
    display: none;
  } 
  /* End of Anne's code */
   
   .container{
   width:60%;
   border: solid 2px #ffffff;
   margin-left:auto;
   margin-right:auto;
   height:1370px;
   background-color:#C2C2C0;
   border-radius:30px;
   margin-top:1%;
   }
   
   .heading{
   border-top-left-radius:30px;
   border-top-right-radius:30px;
   height:5%;
   background-color:#868682;
   position:relative;
   margin-top:-2.9%;
   }
   
   #logo{
   position:absolute;
   top:1%;
   left:-2%;
   }
   
     #links{
   margin-top:50px ;
   margin-left:auto;
   margin-right:auto;
   width:90%;
   }
   
   #thumbnail {
   float:left;
   width: 139px;
   height: 200px;
   border:0;
   margin: 0 40px 15px 0;
   padding: 5px;
   text-align: center;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   margin-bottom:30px;
   background-image: url(images/dress1.jpg)
 }
 
  #thumbnail1 {
   float:left;
   width: 139px;
   height: 200px;
   border:0;
   margin: 0 40px 15px 0;
   padding: 5px;
   text-align: center;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   margin-bottom:30px;
   background-image: url(images/dress2.jpg)
 }
 
 #thumbnail2 {
   float:left;
   width: 139px;
   height: 200px;
   border:0;
   margin: 0 40px 15px 0;
   padding: 5px;
   text-align: center;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   margin-bottom:30px;
   background-image: url(images/dress3.jpg)
 }
 
 #thumbnail3 {
   float:left;
   width: 139px;
   height: 200px;
   border:0;
   margin: 0 40px 15px 0;
   padding: 5px;
   text-align: center;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   margin-bottom:30px;
   background-image: url(images/dress4.jpg)
 }
 
 #links a {
display:block;
padding-top: 110px;
}

 
 #links a img {
height: 0;
width: 0;
border-width: 0;
}

#links a:hover img {
   position: relative;
   top: -200px;
   left: -40px;
   height: 240px;
   width: 220px;
   border-width: 0;
   padding:20px;
   background-color:#C0C0BA;
   
 }
   
   #title{
   text-align:center;
   font-size: 4.5em;
   padding-top:0.7%;
   color:#ffffff;
   }
   
   #nav{
   border:solid 2px #ffffff;
   margin-top:5%;
   margin-left:4%;
   border-radius:30px;
   background-color:#eee5cf;
   }
   
   .menu{
   border: solid 2px #ffffff;
   border-radius:30px;
   background-color:#C0C0BA;
   margin-top:-0.5%;
   text-align:center;
   }
   
    #aboutPara{
    color: #474747;
    }
   
   .dressImage{
   width:74.5%;
   border: solid 2px #ffffff;
   margin-left:auto;
   margin-right:auto;
   border-radius:30px;
   text-align:center;
   background-color:#C0C0BA;
   height:20%;
   padding-bottom:2%;
   margin-top:2%;}
   
  
   

   
   label{
    display: inline-block;
    float: left;
    clear: left;
    width: 120px;
    text-align: left;
    }
    
  input {
   display: inline-block;
   float: left;
   }
   
    .subs{
   margin-left: -20%;
   color:#474747; 
  }
  
  .promptHeading{
    color:#000000;
   }
   
   #loginButton{
   margin-left:11%;
   margin-top: -3.2%;}
   
   
   .memberReg{
   width:32%;
   border: solid 2px #ffffff;
   border-radius:30px;
   text-align:center;
   background-color:#C0C0BA;
   height:33%;
   margin-left:16%;
   margin-top:2%;
   float:left;
   }
   
   .titles{
   font-size:2.0em;
   text-align:center;
   color:#474747;
   }
   
   form{
   text-align:center;
   font-size:1.4em;
   }
   
   
   
   
   
   #para{
   width:33%;
   border: solid 2px #ffffff;
   border-radius:30px;
   text-align:center;
   background-color:#C0C0BA;
   height:45%;
   margin-top:2%;
   float:left;
   margin-left:2%;
   }
   
   #tabletPara{
   font-size:1.4em;
   margin-left:5%;
   margin-right:5%;
   color:#3F3F3B;
   line-height:1.5em;
   padding-top:1%;
  }
   
   #retrieve{
   float:clear;
   width:32%;
   border: solid 2px #ffffff;
   border-radius:30px;
   text-align:center;
   background-color:#C0C0BA;
   height:20%;
   margin-left:16%;
   margin-top:32.2%;
   }
   
   
   #checkGallery{
   width:67%;
   border: solid 2px #ffffff;
   border-radius:30px;
   text-align:center;
   background-color:#C0C0BA;
   height:4%;
   margin-left:16%;
   margin-top:59%;
   color:#3F3F3B;
   font-size:1.1em;
   }
   
   #moveTitle{
   margin-top:2%;}
   
   footer{
   border-bottom-left-radius:30px;
   border-bottom-right-radius:30px;
   height:5%;
   background-color:#868682;
   margin-top:6.5%;
   }
   
   p{
   font-size:1.4em;
   margin-left:5%;
   margin-right:5%;
   color:#ffffff;
   line-height:1.5em;
   padding-top:1%;
   }
   
   .footerHdg{
   font-size:1.4em;
   margin-left:5%;
   color:#ffffff;
   padding-top:1%;
   }
   
   #adminLbl{
   font-size:1.4em;
   margin-left:5%;
   color:#ffffff;
   margin-top:-1%;
   }
   
   
    #submitButton{
   margin-left:10%;
   margin-top:5%;
   }
   
   #address{
   font-size:1.4em;
   margin-right:5%;
   color:#ffffff;
   float:right;
   margin-top:-5%;
   }
   
   
       /* End of Desktop Platform */
   
      
   
   